

/* =Onesie
---------------------------------------------- */

body.custom-background {
    background-size: cover;
}
.site {
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
}
.site-header {
    text-align: center;
}
.site-header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
.site-branding {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}
.site-header h1,
.site-header h2,
.site-header .btn {
    margin-bottom: 40px;
}
.site-header h2 {
    font-size: 1.5em;
    line-height: 1.5;
}
.block {
    padding: 80px 0;
    display: block;
    clear: both;
}
.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
.gallery li {
    display: inline-block;
    position: relative;
    float: left;
    width: 30%;
    margin: 0 5% 5% 0;
    background: #ffffff;
}
.gallery li:nth-child(3n+0) {
    margin-right: 0;
}
.gallery li:nth-child(3n+1) {
    clear: left;
}
.gallery figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.gallery figcaption {
    padding: 1em;
    position: relative;
}
.gallery figcaption h3 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1em;
    color: #222;
}
.gallery figcaption span {
    font-size: .8em;
    color: #999999;
}
.gallery figcaption .genericon {
    position: absolute;
    bottom: .5em;
    right: .5em;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #999999;
}
.gallery figcaption .genericon:hover {
    color: #f23e2f;
}
.site-footer {
    margin-bottom: 40px;
}
#up {
    float: right;
    padding: 5px;
    border-radius: 2px;
    width: 26px;
    height: 26px;
}

@media screen and (max-width: 600px) {
    .block {
        padding-top: 150px;
    }
    .site-branding {
        width: 100%
    }
    .block {
        height: auto !important;
    }
    .gallery li {
        display: block;
        position: relative;
        float: none;
        width: 100%;
        margin: 0 auto 2em;
    }
}
